body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
    

}
.sign-up-form
{
    width: 400px;
    background: white;
    padding: 30px;
    margin: 8% auto 0;
    text-align: center;
}
.sign-up-form h1
{
    color:black;
    margin-bottom: 20px;

}
.input-box
{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #999;
    outline: none;
}
button
{
    color: white;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}
.sign-btn
{
    background-color: blue
}
    li {
    display: inline;
  }
  li {
    float: right;
  }
  .link { color: #FF0000; }
  
  a {
    display: block;
    padding: 8px;
    background-color:none;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightslategrey;
  }
 
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
